h1, h5{
  color:blue;
  font-family: fantasy;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 3%;
}

p {
  color:green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokemon-list {
  box-sizing: 30%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  border: 15px solid black;
  border-style: ridge;
}

.modal-img {
  display:block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;  
}